@import './_colors';
@import './_mixins';

#home {
   @include padd();
   
   .content {
      width: 100%;
      
      
      .content-title {
         display: flex;
         justify-content: space-between;
         
         strong {
            font-size: .75rem;
         }
         
         small {
            font-size: .65rem;
         }
      }
   }
}